<div class="container" id="all-clubs" style="margin-top: 65px">

    <nav class="navbar navbar-light bg-light mb-3" id="homepage-nav">
        <form class="form-inline" id="search-form">
            <input class="form-control mr-sm-2" id="stretch" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary" id="search-button" type="submit">Search</button>
        </form>
    </nav>

    <h2>Available Clubs:</h2>

    <div class="row">
        {{#if clubs}}
            {{#each clubs}}
            <div class="card col-lg-3">
                <img class="card-img-top" src="{{this.dataValues.club_image_url}}" alt="placeholder">
                <div class="card-body">
                    <h4 class="card-title"><a href="/clubs/{{this.dataValues.id}}">{{this.dataValues.club_name}}</a>
                    </h4>
                    <p class="card-text">{{this.dataValues.club_description}}</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary" data-id={{this.dataValues.id}}>Gravitate!</a>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="d-block">
                <h3>No clubs under that category currently exist, why dont you go make one?</h3>
            </div>
            <div class="d-block">
                <a href="/createclub" class="btn btn-primary">Create a club here!</a>
            </div>
        {{/if}}
    </div>
    <a href="/createclub" class="btn btn-primary btn-lg su">Create a club here!</a>
</div>
