<div class="container" id="all-clubs" style="margin-top: 65px">

    <nav class="navbar navbar-light bg-light mb-3" id="homepage-nav">
        <form class="form-inline" id="search-form">
            <input class="form-control mr-sm-2" id="stretch" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary" id="search-button" type="submit">Search</button>
        </form>
        {{#if this.loggedIn}}
        <a href="/createclub" class="btn btn-primary float-right">Create a club here!</a>
        {{/if}}
    </nav>

    {{!-- If coming from Your Clubs, display this.header (from html-controller >> /yourclubs) --}}
    {{!-- default to Available Clubs: --}}
    {{#if this.header}}
    <h2>{{this.header}}</h2>
    {{else}}
    <h2>Available Clubs:</h2>
    {{/if}}

    <div class="row">
        {{#if clubs}}
        {{#each clubs}}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/../assets/img/default_club_img.png" alt="">
                <div class="card-body">
                    <h4 class="card-title"><a href="/clubs/{{this.dataValues.id}}">{{this.dataValues.club_name}}</a>
                    </h4>
                    <p class="card-text">{{this.dataValues.club_description}}</p>
                </div>
                {{#if ../this.loggedIn}}
                <div class="card-footer">
                    <a href="/clubs/{{this.dataValues.id}}" class="btn btn-primary w-100 gravitate"
                        data-id="{{this.dataValues.id}}">Gravitate!</a>
                </div>
                {{/if}}
            </div>
        </div>
        {{/each}}
        {{#if this.loggedIn}}
        {{else}}
        <h4><a href="/login">Login</a>, or <a href="/signup">sign up</a> to create, or join clubs.</h4>
        {{/if}}
        {{else}}
        <div class="col-md-12">
            <div class="w-100">
                <h3>No clubs under that category currently exist, why dont you go make one?</h3>
                {{#if this.loggedIn}}
                <h4><a href="/createclub">Create a club here!</a></h4>
                {{else}}
                <h4><a href="/login">Login</a>, or <a href="/signup">sign up</a> to create clubs.</h4>
                {{/if}}
            </div>
        </div>
        {{/if}}
    </div>
</div>
