{{!-- HEADER --}}
<header class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3" id="yio">You're in Orbit!</h1>
    <p class="lead" id="oss">One small step for man, one giant leap for digital interaction.</p>
    {{#if this.loggedIn}}
    <a href="/clubs" class="btn btn-primary btn-lg" id="su">Find Clubs!</a>
    {{else}}
    <a href="/signup" class="btn btn-primary btn-lg" id="su">Sign Up</a>
    {{/if}}

  </div>

  <div class="container">
    <img id="astro1" src="/../assets/img/Astro1.png" />
  </div>

  <div class="container" id="child-form-1">
    <nav class="navbar navbar-light bg-light  homepage-nav child-nav">
      <form class="form-inline">
        <input class="form-control mr-sm-2" id="stretch" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </nav>
  </div>
</header>

{{!-- BODY CONTENT --}}
<div class="container page-body-container">
  <h2>Welcome {{#if this.loggedIn}}<span class="member-name"></span>{{else}}
    Astronaut!</a>
    {{/if}}</h2>

  <p>Orbit is here to help you gravitate towards clubs and organizations in your area and beyond. All groups and
    events
    on our page provide virtual and spaced out gatherings to make sure our users stay healthy.</p>

  {{#if this.loggedIn}}
  <h3>Your Clubs:</h3>
  {{else}}
  <h3>Recent Clubs:</h3>
  {{/if}}

  <div class="row">
    {{#each clubs}}
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title">{{this.dataValues.club_name}}</h4>
          <p class="card-text">{{this.dataValues.club_description}}</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Gravitate!</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <br>

  <h3>Group &amp; Event Categories:</h3>

  <div class="row align-items-center">
    <div class="btn col category-btn align-self-center" href="#"><i class="fas fa-palette"></i> Art</div>
    <div class="btn col category-btn align-self-center" href="#"><i class="fas fa-book"></i> Books</div>
    <div class="btn col category-btn align-self-center" href="#"><i class="fas fa-film"></i> Film &amp; TV</div>
  </div>

  <div class="row align-items-center">
    <div class="btn col category-btn align-self-center" href="#"><i class="fas fa-utensils"></i> Food</div>
    <div class="btn col category-btn align-self-center" href="#"><i class="fas fa-gamepad"></i> Games</div>
    <div class="btn col category-btn align-self-center" href="#"><i class="fas fa-spa"></i> Health &amp; Fitness</div>
  </div>

  <div class="row align-items-center">
    <div class="btn col category-btn align-self-center" href="#"><i class="fas fa-guitar"></i> Music</div>
    <div class="btn col category-btn align-self-center" href="#"><i class="fas fa-comment"></i> Social</div>
    <div class="btn col category-btn align-self-center" href="#"><i class="fas fa-futbol"></i> Sports</div>
  </div>

</div>